{% load static %}

  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="./index.html" class="logo">
            <img src="{% static "web/images/logo.png" %}" alt="Filmlane logo" style="width:200px;">
          </a>

          <ul class="footer-list">

            <li>
              <a href="{% url "web:index" %}" class="footer-link">Home</a>
            </li>

            <li>
              <a href="#upcoming" class="footer-link">Movie</a>
            </li>

            <li>
              <a href="#" class="footer-link">TV Show</a>
            </li>

            <li>
              <a href="#" class="footer-link">Web Series</a>
            </li>

            <li>
              <a href="#" class="footer-link">Pricing</a>
            </li>

          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">

          <ul class="quicklink-list">

            <li>
              <a href="https://policies.google.com/faq?hl=en-US" class="quicklink-link">Faq</a>
            </li>

            <li>
              <a href="https://support.google.com/" class="quicklink-link">Help center</a>
            </li>

            <li>
              <a href="https://policies.google.com/terms?hl=en-US" class="quicklink-link">Terms of use</a>
            </li>

            <li>
              <a href="https://policies.google.com/privacy?hl=en-US" class="quicklink-link">Privacy</a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://pin.it/64gzCpV" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://www.linkedin.com/in/sadhik-ali-407544272/" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2024 <a href="#0" target="_blank">Sadhik Ali</a>. All Rights Reserved
        </p>

        <img src="{% static "web/images/footer-bottom-img.png" %}" alt="Online banking companies logo" class="footer-bottom-img">

      </div>
    </div>

  </footer>

  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>