 {% load static %}
 
 <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="./index.html" class="logo" style="display: flex;">
        <img src="{% static "web/images/logo.png" %}" alt="Filmlane logo" style="width:200px;">
      </a>


      <div class="header-actions">

        <button class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
        </button>

        <div class="lang-wrapper">
          <label for="language">
            <ion-icon name="globe-outline"></ion-icon>
          </label>

          <select name="language" id="language">
            <option value="en">EN</option>
            <option value="au">AU</option>
            <option value="ar">AR</option>
            <option value="tu">TU</option>
          </select>
        </div>

        {% comment %} <button class="btn btn-primary"><a href="{% url 'web:login' %}">Sign in</a></button> {% endcomment %}
        <button class="btn btn-primary" style="height: 50px;">
          <ul>
            {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'web:logout' %}" class="nav_a">Logout</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'web:login' %}" class="nav_a" >Login</a>
            </li>
            {% endif %}
          </ul>
        </button>

      </div>

      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="./index.html" class="logo">
            <img src="./assets/images/logo.svg" alt="Filmlane logo">
          </a>

          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="{% url 'web:index' %}" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="{% url 'web:movie' %}" class="navbar-link">Movie</a>
          </li>

          <li>
            <a href="{% url "web:sorry" %}" class="navbar-link">Web Series</a>
          </li>

          {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'auth_logout' %}" class="navbar-link">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'web:login' %}" class="navbar-link" >Login</a>
          </li>
          {% endif %}

        </ul>

        <ul class="navbar-social-list">

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

    </div>
  </header>

